mat-grid-tile {
  background: rgb(230, 229, 173);
}

.categories {
  background-color: #a57fff;
}
.subCategories {
  background-color: rgb(122, 184, 130);
}
.selectedCategory {
  background-color: chartreuse;
}
.example-form-field {
  width: 200px;
  color:blue
}
