<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 categories">
      <div *ngFor="let cat of todosCategories">
        <button
          class="btn"
          [ngClass]="{ selectedCategory: cat.label === selectedCategory.label }"
          (click)="setSelectedCategory(cat)"
        >
          {{ cat.label | uppercase }}
        </button>
      </div>
      <button class="btn btn-primary" type="button" style="margin-top: 10%">
        Add Category
      </button>
    </div>
    <div class="col-sm-12 col-md-6 subCategories">
      <div *ngFor="let subCategory of selectedCategory?.subCategories">
        <h4>{{ subCategory.label | uppercase }}</h4>
      </div>
    </div>
  </div>
</div>
