mat-grid-tile {
  background: rgb(230, 229, 173);
}

.categories {
  background-color: #ddddc7;
}
.subCategories {
  background-color: rgb(223 197 197);
}
.selectedCategory {
  background-color: #1dde1d;
}
.add-new-field-form {
  width: 200px;
  color: blue;
}
.sub-category-checkbox {
  margin: 0 10px;
}
